<div class="center jumbotron">
  <h1>The news and articles you love, all in one place.</h1>

  <p class="lead">
    Gome Feed is a news reader designed especially for older adults that collects the news and articles from your favorite websites to create a personalized online newspaper just for you.
  </p>

  <%= link_to "Get started today!", signup_path, class: "btn btn-large btn-success" %>
</div>
<!-- Featurettes -->
<hr class="divider">
<div class="featurette">
	<img class="featurette-image pull-right" src="/assets/big_icon.png">
	<h2 class="featurette-heading">First Featurette Heading. <span class="muted">It'll blow your mind.</span></h2>
	<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="divider">
<div class="featurette">
	<img class="featurette-image pull-left" src="/assets/big_icon.png">
	<h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
	<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<hr class="divider">
<div class="featurette">
	<img class="featurette-image pull-right" src="/assets/big_icon.png">
	<h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
	<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>

<!-- row of other more minor features -->
<hr class="divider">
<div class="row">
	<div class="span4">
		<img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="assets/140x140.png">
		<h2>Heading</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
	<div class="span4">
		<img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="assets/140x140.png">
		<h2>Heading</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
	<div class="span4">
		<img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="assets/140x140.png">
		<h2>Heading</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
	</div>
</div>


